<div class="container">
 <div class="lead well">
    <div clas="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="<%= @question.gravatar %>">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= @question.email %> user@email.com asked:</h4
            <%= @question.body %>
        </div>    
    </div>
 </div>
 <div class="row">
    <div class="col-sm-8 col-sm*offset-2">
        <div>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">
             Submit new Answer
            </button>
        </div>
        
        <%= render 'home/new_answer_form' %>
        
        <% @question.answers.each do |answer| %>
        
        <div clas="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%= answer.gravatar %>">
                </a>
             </div>
            <div class="media-body">
                <h4 class="media-heading"><%= answer.email %> answered:</h4>
                <%= answer.body %>
            </div>    
        </div>
        
        <% end %>
    </div>
</div>
</div>