<div class="container">
<% @question.each do |q| %>
    <div clas="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="<%= q.gravatar %>">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= q.email %> asked:</h4>Meeeeeeeeee
            <div> <%= time_ago_in_words q.created_at %> ago </div>
            <%= q.body %>  </br>
            <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
        </div>    
    </div>
<% end %>
</div>